.header {
    display: flex;
    background-color: #1F2937;
    height: 70px;
    color: #F9FAF8;
    justify-content: space-between;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.header a {
    text-decoration: none;
}
.header a:link, a:visited {
    color: #F9FAF8;
}
.header a:hover {
    color: rgb(18, 219, 18);
}

.logo {
    margin-right: 150px;
    margin-left: 100px;
    color:rgb(214, 12, 39);
    font-size: 45px;
}
.four {
    margin-right: 100px;
}
.one, .two, .three, .four {
    font-size: 20px;
}
.header-main {
    display: flex;
    background-color: #1F2937;
    height: 600px;
    gap: 300px;
    align-items: center;
    justify-content: center;

}
.main-text-container {
    margin-left: 20px;
    color: #F9FAF8;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
}
.placeholder {
    align-items: center;
    justify-content: center;
}
.placeholder:hover {
    transform: rotate(45deg);
}
.sign-up{
    background-color: #ee3d37;
    font-size: 25px;
    border-radius: 10%;
    padding: 20px;
    color: #F9FAF8;
}
.sign-up:hover {
    background-color: rgb(18, 219, 18);
}
.services {
    display: flex;
    justify-content: center;
    font-size: 15px;
    color: #1F2937;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.about {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.about img:hover {
    transform: scale(1.10);  
}
.about img {
    width: 280px;
    height: 250px;
}
img {
border-radius: 15px;
border-style: solid;
border-color: #1F2937;
}
body {
    margin: 0;
}
.quote {
    text-align: center;
    background-color: #e5e7eb;
    color: #1F2937;
}
.quote-text {
    padding-top: 60px;
    padding-bottom: 15px;
    font-size: 36px;
}
.thoreau {
    padding-bottom: 60px;
    font-size: 20px;
}
.call {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 70px;
    font-size: 20px;
    color: #1F2937;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 40px;
    margin-bottom: 40px;
    border-style: solid;
    border-radius: 10px;
    background-color: #1F2937;
}
.call-text {
    color: #e5e7eb;
}
.end-button {
    font-size: 20px;
    background-color: #ee3d37;
    color: #F9FAF8;
    border-radius: 90%;
    padding: 40px;
}
.return {
    text-align: center;
    border-radius: 50%;
}
.return a {
    color: blue;
}
.footer {
    text-align: center;
    background-color: #1F2937;
    color: #e5e7eb;
    padding: 10px;

}
