.header {
    display: flex;
    background-color: #1F2937;
    height: 70px;
    color: #F9FAF8;
    justify-content: space-between;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.logo {
    margin-right: 150px;
    margin-left: 20px;
    color:rgb(214, 12, 39);
    font-size: 45px;
}
.three {
    margin-right: 20px;
}
.one, .two, .three {
    font-size: 20px;
}
.header-main {
    display: flex;
    background-color: #1F2937;
    height: 500px;
    align-items: center;
}
.main-text-container {
    margin-left: 20px;
    color: #F9FAF8;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
}
.placeholder {
    margin-left: 300px;
    margin-right: 20px;
}
.sign-up{
    background-color: #ee3d37;
    font-size: 20px;
}
.services {
    display: flex;
    justify-content: center;
    font-size: 15px;
    color: #1F2937;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.about {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
img {
border-radius: 10%;
border-style: solid;
border-color: #1F2937;
}
body {
    margin: 0;
}
.quote {
    text-align: center;
    background-color: #e5e7eb;
    color: #1F2937;
}
.quote-text {
    padding-top: 60px;
    padding-bottom: 15px;
    font-size: 30px;
}
.thoreau {
    padding-bottom: 60px;
    font-size: 20px;
}
.call {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 70px;
    font-size: 20px;
    color: #1F2937;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 40px;
    margin-bottom: 40px;
    border-style: solid;
    border-radius: 5%;
    background-color: #1F2937;
}
.call-text {
    color: #e5e7eb;
}
.end-button {
    font-size: 20px;
    background-color: #ee3d37;
}
.return {
    text-align: end;
    margin-bottom: 40px;
}

